<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('勘展')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<!--th:object="${prospect}" 接收后端返回的ModelMap 根据Key "prospect" 获取相关数据-->
	<form class="form-horizontal" id="form-exhibition-prospect" th:object="${prospect}">
		<input id="exhibitionId" name="exhibitionId" type="hidden" th:field="*{exhibitionId}"/>
		<div class="form-group">
			<label class="col-sm-3 control-label is-required">展会名称：</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="exhibitionName" disabled="disabled" id="exhibitionName" th:field="*{exhibitionName}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label is-required">办展方：</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="organizer" disabled="disabled" id="organizer" th:field="*{organizer}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label is-required">展会地址：</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="address" disabled="disabled" id="address" th:field="*{address}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label is-required">开始时间：</label>
			<div class="col-sm-8">
				<input class="form-control" type="date" name="startTime" disabled="disabled" id="startTime" th:value="${#dates.format(prospect.startTime, 'yyyy-MM-dd')}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label is-required">结束时间：</label>
			<div class="col-sm-8">
				<input class="form-control" type="date"  name="endTime" id="endTime" disabled="disabled" th:value="${#dates.format(prospect.endTime, 'yyyy-MM-dd')}" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">展会状态：</label>
			<div class="col-sm-8">
				<select name="status" class="form-control" disabled="disabled" th:with=" dictionaries=${@dict.getType('busi_exhibition_status')}">
					<option th:each="dict : ${dictionaries}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"   th:field="*{status}" ></option>
				</select>

			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">备注：</label>
			<div class="col-sm-8">
				<textarea id="remark" name="remark" disabled="disabled" class="form-control">[[*{remark}]] </textarea>
			</div>
		</div>
		<!--上传控件-->
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-content">

							<div class="form-group">
								<label class="font-noraml">多文件上传</label>
								<div class="file-loading">
									<input id="fileinput-demo-1" type="file" multiple>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function () {

		var obj = [[${prospectUrlList}]];
		var arrayObj = new Array();　//创建一个数组
		for (let i = 0; i < obj.length; i++) {
			arrayObj. push("/exhibition"+obj[i]);
		}
		$("#fileinput-demo-1").fileinput({
			'theme': 'explorer-fas',
			'uploadUrl': '/exhibition/business/exhibition/saveProspectUrl',
			overwriteInitial: false,
			initialPreviewAsData: true,
			uploadExtraData:{"exhibitionId":$("#exhibitionId").val()},
			initialPreview: arrayObj
		});

		$("#fileinput-demo-1").on("fileuploaded", function(event, data, proviewId, index) {
			alert(window.webkitURL);
			console.info(event);
			console.info(data);
			console.info(proviewId);
			console.info(index);
		});

	});

	var prefix = ctx + "business/exhibition";

	function submitHandler() {



	}
</script>
</body>
</html>

















