<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.mapper.BusiExhibitionMapper">

    <resultMap id="BusiExhibitionResult" type="com.zel.business.domain.BusiExhibition">
        <id property="exhibitionId" column="exhibition_id"/>
        <result property="exhibitionName" column="exhibition_name"/>
        <result property="status" column="status"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="address" column="address"/>
        <result property="organizer" column="organizer"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="del" column="del"/>
        <result property="remark" column="remark"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <resultMap id="BusiProspectResult" type="com.zel.business.domain.BusiExhibition">
        <id property="exhibitionId"         column="exhibition_id"/>
        <result property="exhibitionName"   column="exhibition_name"/>
        <result property="status"           column="status"/>
        <result property="startTime"        column="start_time"/>
        <result property="endTime"          column="end_time"/>
        <result property="address"          column="address"/>
        <result property="organizer"        column="organizer"/>
        <result property="createBy"         column="create_by"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateBy"         column="update_by"/>
        <result property="updateTime"       column="update_time"/>
        <result property="del"              column="del"/>
        <result property="remark"           column="remark"/>
        <collection property="prospectUrlList" select="selectProspectUrl" column="{exhibitionId = exhibition_id}"
                    ofType="java.util.List">
        </collection>
    </resultMap>

    <sql id="selectExhibitionVo">
                select `exhibition_id`, `exhibition_name`, `status`, `start_time`, `end_time`, `address`, `organizer`, `create_by`, `create_time`, `update_by`, `update_time`, `del`, `remark`
                from  busi_exhibition
    </sql>

    <!--
    * 检验展会名称是否唯一
    * @param exhibition 展会信息
    -->
    <select id="checkExhibitionNameUnique" resultType="java.lang.Integer">
        select count(0) from busi_exhibition
        where
        exhibition_name = #{exhibitionName}
        and del = 1
        <if test="exhibitionId != null">
            and exhibition_id != #{exhibitionId}
        </if>
    </select>

    <!--
    * 保存新增展会
    * @param exhibition 展会信息
    -->
    <insert id="insertExhibition" parameterType="com.zel.business.domain.BusiExhibition">
        INSERT INTO busi_exhibition (
         exhibition_name,
         status,
         start_time,
         end_time,
         address,
         organizer,
         create_by,
         del,
         remark,
         create_time
        )
        VALUES
        (
         #{exhibitionName},
         #{status},
         #{startTime},
         #{endTime},
         #{address},
         #{organizer},
         #{createBy},
         1,
         #{remark},
         sysdate()
        )
    </insert>

    <!--
     * 获取展会列表
     * @param exhibition 展会信息
     -->
    <select id="selectExhibitionList" resultMap="BusiExhibitionResult">
        <include refid="selectExhibitionVo"></include>
        where del = 1
        <if test="exhibitionId !=null ">
            and exhibition_id = #{exhibitionId}
        </if>
        <if test="exhibitionName !=null and exhibitionName!=''">
            and exhibition_name like concat('%',#{exhibitionName},'%')
        </if>
        <if test="status !=null ">
            and status =#{status}
        </if>
        <if test="address !=null and address!=''">
            and address like concat('%',#{address} ,'%')
        </if>
        <if test="organizer !=null and organizer!=''">
            and organizer like concat('%',#{organizer} ,'%')
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE_FORMAT(start_time, '%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE_FORMAT(end_time, '%Y-%m-%d')  <![CDATA[ <= ]]> DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        </if>
    </select>

    <!--
    * 根据展会ID查询展会信息
    * @param exhibitionId 展会ID
    -->
    <select id="selectExhibitionById" resultMap="BusiExhibitionResult">
        <include refid="selectExhibitionVo"></include>
        where
        del= 1
        and exhibition_id = #{exhibitionId}
    </select>

    <!--
    * 保存修改展会信息
     * @param exhibition 展会信息
     -->
    <update id="updateExhibition">
        update busi_exhibition
        <set>
            <if test="exhibitionName!=null and exhibitionName!=''">
                exhibition_name = #{exhibitionName},
            </if>
            <if test="status!=null ">
                status = #{status},
            </if>
            <if test="startTime!=null ">
                start_time = #{startTime},
            </if>
            <if test="endTime!=null ">
                end_time = #{endTime},
            </if>
            <if test="address!=null and address!=''">
                address= #{address},
            </if>
            <if test="organizer!=null and organizer!=''">
                organizer = #{organizer},
            </if>
            <if test="updateBy!=null and updateBy!=''">
                update_by = #{updateBy},
            </if>
            <if test="remark!=null and remark!=''">
                remark= #{remark},
            </if>
            update_time = sysdate()
        </set>
        where
        del = 1
        and exhibition_id = #{exhibitionId}
    </update>

    <!--
    * 删除展会
    * @param exhibitionIds 展会ID
    -->
    <update id="deleteExhibition">
        update busi_exhibition
        set del = 2
        where
        exhibition_id in
        <foreach collection="exhibitionIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--
     * 保存勘展图片
     * @param prospectUrl   勘展图片
     * @param exhibitionId  展会ID
    -->
    <insert id="insertProspectUrl" parameterType="com.zel.business.domain.BusiProspect" useGeneratedKeys="true" keyProperty="prospectId" keyColumn="prospect_id">

        INSERT INTO busi_prospect
        (
            exhibition_id,
            prospect_url,
            file_name,
            create_by,
            create_time
        )
        VALUES
        (
            #{exhibitionId},
            #{prospectUrl},
            #{fileName},
            #{createBy},
            now()
        )
    </insert>

    <!--
    * 查询勘展信息
    * @param exhibitionId 展会ID
    -->
    <select id="selectProspect" resultMap="BusiProspectResult">
        <include refid="selectExhibitionVo"></include>
        where
        del= 1
        and exhibition_id = #{exhibitionId}
    </select>

    <!--
    * 查询勘展图片
    * @param exhibitionId 展会ID
    -->
    <select id="selectProspectUrl" resultType="java.util.Map">
        select
            prospect_url as prospectUrl,
            file_name as fileName,
            prospect_id as prospectId
          from
              busi_prospect
          where
              exhibition_id = #{exhibitionId}
    </select>

    <!--
     * 删除勘展图片
     * 根据 urlId
     * @param urlId
    -->
    <delete id="deleteProspectUrl" parameterType="java.lang.Long">
         DELETE
        FROM
            busi_prospect
        WHERE
            prospect_id = #{prospectId}
    </delete>

   <!--
   * 更新展会状态
    * @param exhibitionId 展会ID
    -->
    <update id="updateStatus">
          update busi_exhibition
          set
              status = #{status}
          where
              exhibition_id = #{exhibitionId}
    </update>

    <!--
     * 查询勘展图片
     * @param urlId
     * @param exhibitionId
    -->
    <select id="findProspectUrl" parameterType="long" resultType="com.zel.business.domain.BusiProspect">
      select
          prospect_id as prospectId,
          exhibition_id as exhibitionId,
          file_name as fileName,
          prospect_url as prospectUrl
        FROM
            busi_prospect
        WHERE
            prospect_id = #{prospectId}
            and exhibition_id = #{exhibitionId}
    </select>
    
    <select id="selectExhibitionInfo" resultMap="BusiExhibitionResult">
      SELECT
        exhibition_id,
        exhibition_name
      FROM
        busi_exhibition
      WHERE
        exhibition_id NOT IN
           (SELECT
                exhibition_id
            FROM
                busi_send
            )
    </select>


    <select id="selectExportExhibitionList" resultMap="BusiExhibitionResult">
        <include refid="selectExhibitionVo"/>
        where exhibition_id IN
              <foreach collection="colums" item="id" index="index" open="(" separator="," close=")">
                  #{id}
              </foreach>
    </select>


    <!--
    * 加载可修改展会信息
    * @param id
    -->
    <select id="selectEditExhibitionInfo" resultMap="BusiExhibitionResult">
        SELECT
            exhibition_id,
            exhibition_name
        FROM
            busi_exhibition
        WHERE
            exhibition_id NOT IN (
                SELECT
                    exhibition_id
                FROM
                     busi_send
                WHERE
                        send_id != #{id}
	          )
    </select>
    
    <select id="selectExhibition" resultMap="BusiExhibitionResult">
        select
            exhibition_id,
            exhibition_name
        FROM
            busi_exhibition
        where
            exhibition_id in
            (SELECT
                    exhibition_id
                FROM
                     busi_send
                WHERE
                        send_id = #{id}
            )
    </select>

</mapper>
