<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zel.business.mapper.BusiSendMapper">

    <resultMap id="SendResultMap" type="com.zel.business.domain.BusiSend">
        <id column="send_id" property="sendId"/>
        <result column="send_number" property="sendNumber"/>
        <result column="exhibition_id" property="exhibitionId"/>
        <result column="logistics_name" property="logisticsName"/>
        <result column="logistics_number" property="logisticsNumber"/>
        <result column="status" property="status"/>
        <result column="send_by" property="sendBy"/>
        <result column="send_time" property="sendTime"/>
        <result column="receive_by" property="receiveBy"/>
        <result column="receive_address" property="receiveAddress"/>
        <result column="receive_company" property="receiveCompany"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="del" column="del"/>
        <result property="remark" column="remark"/>

        <result property="busiExhibitions.exhibitionName" column="exhibition_name"/>
        <result property="busiExhibitions.organizer" column="organizer"/>
        <result property="busiExhibitions.address" column="address"/>
    </resultMap>

    <resultMap id="UserTreeResultMap" type="com.zel.business.domain.dto.BusiUserTreeOutDto">
        <result property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <!--
    查询全部发货信息
    -->
    <sql id="selectSendListAll">
        SELECT
             send_id ,
             send_number ,
             exhibition_id ,
             logistics_name ,
             logistics_number ,
             status ,
             send_by ,
             send_time ,
             receive_by ,
             receive_address ,
             receive_company ,
             create_by ,
             create_time ,
             update_by ,
             update_time ,
             del ,
             remark
        FROM busi_send
    </sql>

    <!--
    * 获取发货列表
    * @param send 发货信息
    -->
    <select id="selectSendList"  resultMap="SendResultMap">
        SELECT
            bs.send_id ,
            bs.send_number ,
            bs.exhibition_id ,
            bs.logistics_name ,
            bs.logistics_number ,
            bs.status ,
            bs.send_by ,
            bs.send_time ,
            bs.receive_by ,
            bs.receive_address ,
            bs.receive_company ,
            bs.create_by ,
            bs.create_time ,
            bs.remark,
            be.exhibition_name,
            be.address,
            be.organizer
        FROM busi_send as bs
        left join busi_exhibition as be on bs.exhibition_id = be.exhibition_id
        where
            1=1
        <if test="sendNumber != null and sendNumber !=''">
            and  send_number like concat ('%', #{sendNumber} ,'%')
        </if>
        <if test="exhibitionId!= null ">
            and exhibition_id = #{exhibitionId}
        </if>

        <if test="busiExhibitions != null and busiExhibitions.exhibitionName != null and busiExhibitions.exhibitionName !=''">
            and  exhibition_name like concat ('%', #{busiExhibitions.exhibitionName} ,'%')
        </if>

        <if test="busiExhibitions != null and busiExhibitions.organizer != null and busiExhibitions.organizer !=''">
            and  organizer like concat ('%', #{busiExhibitions.organizer} ,'%')
        </if>

        <if test="busiExhibitions != null  and busiExhibitions.address != null and busiExhibitions.address !=''">
            and  address like concat ('%', #{busiExhibitions.address} ,'%')
        </if>

        <if test="logisticsName != null and logisticsName !=''">
            and logistics_name like concat ('%', #{logisticsName} ,'%')
        </if>
        <if test="logisticsNumber != null and logisticsNumber !=''">
            and logistics_number like concat ('%', #{logisticsNumber} ,'%')
        </if>
        <if test="status !=null">
            and status = #{status}
        </if>
        <if test="sendBy != null and sendBy !=''">
            and send_by like concat ('%', #{sendBy} ,'%')
        </if>
        <if test="sendTime !=null">
            and send_time = #{sendTime}
        </if>
        <if test="receiveBy != null and receiveBy !=''">
            and receive_by like concat ('%', #{receiveBy} ,'%')
        </if>
        <if test="receiveAddress != null and receiveAddress !=''">
            and receive_address like concat ('%', #{receiveAddress} ,'%')
        </if>
        <if test="receiveCompany != null and receiveCompany !=''">
            and receive_company like concat ('%', #{receiveCompany} ,'%')
        </if>
        <if test="createBy != null">
            and create_by like concat ('%', #{createBy} ,'%')
        </if>
        <if test="createTime !=null">
            and create_time = #{createTime}
        </if>
        <if test="updateBy != null and updateBy !=''">
            and update_by like concat ('%', #{updateBy} ,'%')
        </if>
        <if test="updateTime !=null">
            and update_time = #{updateTime}
        </if>
        <if test="remark != null and remark !=''">
            and remark like concat ('%', #{remark} ,'%')
        </if>
    </select>

    <!--
    *查询发货物料明细
    * @param asnOrderId
    -->
    <select id="selectSendMaterialDetail" resultType="com.zel.business.domain.dto.BusiSendMaterialDto">
        SELECT
            bm.material_id AS   materialId,
            bm.material_name AS  materialName,
            bm.material_code AS  materialCode,
            bm.nick_name AS  nickName,
            bm.specifications AS  specifications,
            bm.type AS  type,
            bm.unit AS  unit,
            bm.package_quantity AS  packageQuantity,
            bm.create_by AS  createBy,
            bm.create_time AS  createTime,
            bm.update_by AS  updateBy,
            bm.update_time AS  updateTime,
            bm.remark AS  remark,
            bsmd.send_quantity AS sendQuantity
        FROM
            busi_send_material_detail AS bsmd
        LEFT JOIN
            busi_material as bm ON bm.material_id = bsmd.material_id
        WHERE
            bsmd.send_id = #{id}
        <if test="materialName != null and materialName != ''">
            AND bm.material_name like concat('%', #{materialName}, '%')
        </if>
        <if test="materialCode != null and materialCode != ''">
            AND bm.material_code like concat('%', #{materialCode}, '%')
        </if>
        and bm.del = 1
    </select>

    <!--
    * 保存发货明细
    * @param busiSend
    -->
    <insert id="insertSendMaterialDetail">

        INSERT INTO  busi_send_material_detail
            (
            send_id ,
            material_id ,
            send_quantity,
            create_by ,
            create_time
            )
            VALUES
        <foreach collection="listMap" index="index" item="detail" open="" separator="," close="">
            (
            #{sendId},
            #{detail.materialId},
            #{detail.sendQuantity},
            #{createBy},
            now()
            )
        </foreach>
    </insert>

    <!--
    * 保存发货信息
    -->
    <insert id="insertSend" parameterType="com.zel.business.domain.BusiSend" useGeneratedKeys="true" keyProperty="sendId">
        INSERT INTO busi_send
        (
         send_number,
         exhibition_id,
         logistics_name,
         logistics_number,
        <if test="sendBy != null and sendBy !=''">send_by,</if>
        <if test="sendTime != null ">send_time,</if>
        <if test="receiveBy != null and receiveBy != '' ">receive_by,</if>
        <if test="receiveAddress != null and receiveAddress != '' ">receive_address,</if>
        <if test="receiveCompany != null and receiveCompany != '' ">receive_company,</if>
        <if test="createBy != null ">create_by,</if>
        <if test="remark != null and remark != '' ">remark,</if>
        create_time,
        status
        )
        VALUES
        (
         #{sendNumber},
         #{exhibitionId},
         #{logisticsName},
         #{logisticsNumber},
        <if test="sendBy != null and sendBy !=''">#{sendBy},</if>
        <if test="sendTime != null ">#{sendTime},</if>
        <if test="receiveBy != null and receiveBy != '' ">#{receiveBy},</if>
        <if test="receiveAddress != null and receiveAddress != '' ">#{receiveAddress},</if>
        <if test="receiveCompany != null and receiveCompany != '' ">#{receiveCompany},</if>
        <if test="createBy != null"> #{createBy},</if>
        <if test="remark != null and remark != '' ">#{remark},</if>
        now(),
        1
        )
    </insert>


    <!--
    * 查询流水号信息
    -->
    <select id="selectserialNumberInfo" resultType="com.zel.business.domain.BusiSerialNumberInfo">
        SELECT
          prefix as prefix,
          ver as ver,
          serial_number as serialNumber
        FROM
          busi_serial_number_info
        order by create_time DESC
        limit 1
    </select>

    <!--
    * 更新流水号信息
    -->
    <update id="updateSerialNumber">
        UPDATE
            busi_serial_number_info
        SET
            serial_number = #{serialNumber}
    </update>

   <!--
   * 查询人员Tree
    * @param deptId
    -->
    <select id="selectUserTree" resultType="com.zel.business.domain.dto.BusiUserTreeOutDto">
         SELECT
             dept_id as deptId,
             parent_id  as parentId ,
             dept_name  as deptName
         FROM
             sys_dept
         where
             parent_id = 0
    </select>

    <!--
        发货单选择收货人员 组织树查询
        根据parentId 父级id 关联子集
    -->
    <select id="sendZTree" resultType="com.zel.common.core.domain.Ztree">
        SELECT
            sd.dept_id as id,
            sd.parent_id as pId,
            sd.dept_name as name,
            sd.dept_name as title
        FROM
            sys_dept AS sd

        UNION

        SELECT
            su.user_id as id,
            su.dept_id as pId,
            su.user_name as name,
            su.user_name as title
        FROM
            sys_user AS su
        where
            su.status = 0
    </select>
</mapper>