<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('发货列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: select2-css" />
</head>
<style>
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	color: #555;
	padding: 1px 7px;
}
</style>

<body class="gray-bg">
	<div class="main-content">
		<form id="form-send-add" class="form-horizontal" th:object="${exhibitionInfo}">
			<input name="deptId" type="hidden" id="treeId"/>
			<h4 class="form-header h4">发货单</h4>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">发货单号：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="sendNumber" id="sendNumber" th:value="${sendNumber}" required>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">展会信息：</label>
						<div class="col-sm-8">
							<select id="exhibitionId" name="exhibitionId" class="form-control " >
								<option th:each="name:${exhibitionInfo}" th:value="${name.exhibitionId}" th:text="${name.exhibitionName}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">物流名称：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" id="logisticsName" name="logisticsName" required>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">物流单号：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" id="logisticsNumber" name="logisticsNumber" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">收货人：</label>
						<div class="col-sm-8">
							<div class="input-group search">
								<input name="receiveBy" onclick="selectDeptTree()" id="receiveBy" type="text" placeholder="请选择收货人信息" class="form-control" required>
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4 control-label is-required">收货地址：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" id="receiveAddress" name="receiveAddress" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="col-xs-2 control-label">备注：</label>
						<div class="col-xs-10">
							<textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<h4 class="form-header h4">发货明细</h4>
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addMaterial()" shiro:hasPermission="business:exhibition:add">
					<i class="fa fa-plus"></i> 新增物料
				</a>
				<a class="btn btn-danger " onclick="removeRow()" shiro:hasPermission="business:exhibition:remove">
					<i class="fa fa-remove"></i> 移除
				</a>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!--<button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>-->
					<!--<button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>-->
					<div class="col-sm-12 select-table table-striped">
						<table id="bootstrap-table1"></table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<th:block th:include="include :: select2-js" />
	<script th:src="@{/js/jquery.tmpl.js}"></script>
	<script th:inline="javascript">

        var prefix = ctx + "business/send";
        var dataType = [[${@dict.getType('busi_material_type')}]];
        var dataUnit = [[${@dict.getType('busi_material_unit')}]];
        $(function() {
            var panehHidden = false;
            if ($(this).width() < 769) {
                panehHidden = true;
            }
            $('body').layout({ initClosed: panehHidden, west__size: 185 });

            $('#exhibitionId').select2({
                placeholder: "---请选择展会信息---",
                allowClear: true
            });

            querysendList();

        });


        function querysendList() {
            var options = {
                // url: ctx +"/business/material/list",
                // prospectUrl: prefix + "/prospect/{id}",
                // createUrl: prefix + "/add",
                // updateUrl: prefix + "/edit/{id}",
                // removeUrl: prefix + "/remove",
                // exportUrl: prefix + "/export",
				// statusUrl: prefix + "/updateStatus",
                addMaterialUrl: prefix + "/addMaterial/{ids}",
				id:"bootstrap-table1",
                sortName: "createTime",
                sortOrder: "desc",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                pagination: false,
                uniqueId: "materialId",
                modalName: "发货信息",
                clickEdit: true,
                columns: [{
                    checkbox: true
                },
					{
                    field: 'materialName',
                    title: '物料名称'
                	},
                    {
                        field: 'materialId',
                        title: '物料ID'
                    },

                    {
                        field: 'materialCode',
                        title: '物料代码'
                        // sortable: true
                    },
                    {
                        field: 'nickName',
                        title: '物料简称'
                    },  {
                        field: 'specifications',
                        title: '规格型号'
                    },
                    {
                        field: 'type',
                        title: '类型',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataType, row.type);
                        }
                    },
					{
                        field: 'unit',
                        title: '计量单位',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataUnit, row.unit);
                        }
                    },
                    {
                        field: 'packageQuantity',
                        title: '标包数量'
                        // visible: false
                    },
                    {
                        field: 'createBy',
                        title: '创建人'
                    },
					 {
                        field: 'createTime',
                        title: '创建时间'
                        // sortable: true
                    },
                    {
                        field: 'sendQuantity',
                        title: '发货数量'
                        // ,
                        // formatter: function(value, row, index) {
                        //     var html = $.common.sprintf("<input class='form-control' type='text' id='sendQuantity' name='sendQuantity' value=0>", index, value);
                        //     return html;
                        // }
                    }],
                /**
                 * @param {点击列的 field 名称} field
                 * @param {点击列的 value 值} value
                 * @param {点击列的整行数据} row
                 * @param {td 元素} $element
                 */
                onClickCell: function(field, value, row, $element) {
					if(field == "sendQuantity"){
                        $element.attr('contenteditable', true);
                        $element.blur(function() {
                            var index = $element.parent().data('index');
                            var tdValue = $element.html();

                            saveData(index, field, tdValue);
                        })
					}

                }
            };
            $.table.init(options);
        }
        function saveData(index, field, value) {

            $("#bootstrap-table1").bootstrapTable('updateCell', {
                index: index,       //行索引
                field: field,       //列名
                value: value        //cell值
            })
        }

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-send-add').serialize();
                console.log("aaa" + JSON.stringify(data))
                var allTableData = $("#bootstrap-table1").bootstrapTable('getData');
                var listMap = [];
                $.each(allTableData, function (index, evevt) {
                    alert("Q====" + JSON.stringify(evevt));
                    var map = {};
                    console.log("index=" + index)
                    map["materialId"] = allTableData[index].materialId;
                    // var quantity = allTableData[index].sendQuantity;
                    // alert(quantity)
                    // if(  quantity !=null ){
                    //     map["sendQuantity"] = quantity;
                    // }
                    map["sendQuantity"] = allTableData[index].sendQuantity;
                    listMap[index] = map;

                });
                console.log(listMap)

                $.operate.save(prefix + "/saveSend",
                    {
                        "exhibitionId": $("#exhibitionId").val(),
                        "sendNumber": $("#sendNumber").val(),
                        "logisticsName": $("#logisticsName").val(),
                        "logisticsNumber": $("#logisticsNumber").val(),
                        "receiveAddress": $("#receiveAddress").val(),
                        "remark": $("#remark").val(),
                        "receiveBy": $("#receiveBy").val(),
                        "listMap": listMap
                    }
                );
            }
        }

        /* 收货管理-新增-选择收货信息 */
       function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = prefix + "/selectUserTree/";
		   var options = {
                title: '选择信息',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			var body = layer.getChildFrame('body', index);
			$("#treeId").val(body.find('#treeId').val());
			$("#receiveBy").val(body.find('#treeName').val());
			layer.close(index);
		}



	</script>
</body>
</html>