<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('发货列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">

	<div class="ui-layout-center">
		<div class="container-div">
			<!--<div class="row">-->
				<div class="col-sm-12 search-collapse">
					<form class="form-horizontal" id="form-send-add" th:object="${exhibitionIds}">
						<input type="hidden" id="exhibitionId" name="exhibitionId">
		                <input type="hidden" id="parentId" name="parentId">
						<div class="select-list">


							<div class="form-group">
								<label class="col-sm-3 control-label">展会ID：</label>
								<div class="col-sm-8">
									<select id="exhibitionIdsSelect" th:with="ids=${exhibitionIds}" style="width :100px " class="form-control m-b">
										<option value="">---请选择---</option>
										<option th:each="entity : ${ids}" th:text="${entity.exhibitionId}" th:value="${entity.exhibitionId}"></option>
									</select>
								</div>
							</div>






							<ul>
								<li>
									发货单号：<input type="text" name="exhibitionName"/>
								</li>
								<li>
									物流名称：<input type="text" name="address"/>
								</li>
								<li>
									物流单号：<input type="text" name="organizer"/>
								</li>
							</ul>
						</div>
					</form>
				</div>
				
		        <div class="btn-group-sm" id="toolbar" role="group">
		        	<a class="btn btn-success" onclick="$.operate.addMaterial()" shiro:hasPermission="business:exhibition:add">
		                <i class="fa fa-plus"></i> 新增物料
		            </a>
		            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:exhibition:remove">
		                <i class="fa fa-remove"></i> 移除
		            </a>
		        </div>
		        
		        <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:inline="javascript">

        var prefix = ctx + "business/send";

        $(function() {
            var panehHidden = false;
            if ($(this).width() < 769) {
                panehHidden = true;
            }
            $('body').layout({ initClosed: panehHidden, west__size: 185 });
            querysendList();

        });

        function querysendList() {
            var options = {
                url: prefix + "/list",
                prospectUrl: prefix + "/prospect/{id}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
				statusUrl: prefix + "/updateStatus",
                selectSendMaterialDetailUrl: prefix + "/selectSendMaterialDetail/{asnOrderId}",
                sortName: "sendTime",
                sortOrder: "desc",
                modalName: "发货信息",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'materialId',
                        title: '物料ID'
                    },
                    {
                        field: 'materialName',
                        title: '物料名称'
                    },
                    {
                        field: 'materialCode',
                        title: '物料代码'
                        // sortable: true
                    },
                    {
                        field: 'nickName',
                        title: '物料简称'
                    },  {
                        field: 'specifications',
                        title: '规格型号'
                    },

                    {
                        field: 'type',
                        title: '类型',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataType, row.type);
                        }
                    },{
                        field: 'unit',
                        title: '计量单位',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataUnit, row.unit);
                        }
                    },
                    {
                        field: 'packageQuantity',
                        title: '标包数量'
                        // visible: false
                    },
                    {
                        field: 'createBy',
                        title: '创建人'
                    },
                    {
                        field: 'createTime',
                        title: '创建时间'
                        // sortable: true
                    }]
            };
            $.table.init(options);
        }
	</script>
</body>
</html>