<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('发货列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: select2-css" />
</head>
<style>
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	color: #555;
	padding: 1px 7px;
}
</style>
	<body class="gray-bg">
		<div class="ui-layout-center">
			<div class="main-content">
				<form id="form-send-add" class="form-horizontal" th:object="${sendInfo}">
					<input id="deptId" name="deptId" type="hidden" th:value="${sendInfo.deptId}"/>
					<input id="treeId" name="treeId" type="hidden" th:value="${sendInfo.receiveBy}"/>
					<input id="sendId" name="sendId" type="hidden" th:value="${sendInfo.sendId}"/>
					<h4 class="form-header h4">发货单</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">发货单号：</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" disabled="disabled" name="sendNumber" id="sendNumber" th:value="${sendInfo.sendNumber}" required>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">展会信息：</label>
								<div class="col-sm-8">
									<select id="exhibitionId" name="exhibitionId" class="form-control " >
										<option th:each="ex:${exhibitionInfo}" th:value="${ex.exhibitionId}" th:text="${ex.exhibitionName}" th:selected="${ex.flag}"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">物流名称：</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" id="logisticsName" name="logisticsName" th:value="${sendInfo.logisticsName}" required>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">物流单号：</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" id="logisticsNumber" name="logisticsNumber" th:value="${sendInfo.logisticsNumber}" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">收货人：</label>
								<div class="col-sm-8">
									<div class="input-group search">
										<input name="receiveBy" onclick="selectDeptTree()" id="receiveBy" th:field= "${sendInfo.receiveName}" type="text" placeholder="请选择收货人信息" class="form-control" required>
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">收货公司：</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" id="deptName" name="deptName" th:field= "${sendInfo.deptName}" required/>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label is-required">收货地址：</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" id="receiveAddress" name="receiveAddress"  th:value="${sendInfo.receiveAddress}" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="col-xs-2 control-label">备注：</label>
								<div class="col-xs-10">
									<textarea id="remark" name="remark" maxlength="500" class="form-control" rows="1">[[*{remark}]]</textarea>
								</div>
							</div>
						</div>
					</div>
					<h4 class="form-header h4">发货明细</h4>
					<div class="btn-group-sm" id="toolbar" role="group">
						<a class="btn btn-success" onclick="$.operate.addMaterial()" shiro:hasPermission="business:exhibition:add">
							<i class="fa fa-plus"></i> 新增物料
						</a>
						<a class="btn btn-danger " onclick="deleteSelects()" shiro:hasPermission="business:exhibition:remove">
							<i class="fa fa-remove"></i> 移除
						</a>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<!--<button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i></button>-->
							<!--<button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus"> 删除</i></button>-->
							<div class="col-sm-12 select-table table-striped">
								<table id="bootstrap-table2"></table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<th:block th:include="include :: footer" />
		<th:block th:include="include :: layout-latest-js" />
		<th:block th:include="include :: ztree-js" />
		<th:block th:include="include :: select2-js" />
		<script th:src="@{/js/jquery.tmpl.js}"></script>
		<script th:inline="javascript">

			var prefix = ctx + "business/send";
			var dataType = [[${@dict.getType('busi_material_type')}]];
			var dataUnit = [[${@dict.getType('busi_material_unit')}]];
			$(function() {
				var panehHidden = false;
				if ($(this).width() < 769) {
					panehHidden = true;
				}
				$('body').layout({ initClosed: panehHidden, west__size: 185 });

				$('#exhibitionId').select2({
					placeholder: "---请选择展会信息---",
					allowClear: true
				});

				querysendList();

			});


			function querysendList() {
				var options = {
					url: prefix +"/selectSendMaterialDetail",
					// prospectUrl: prefix + "/prospect/{id}",
					// createUrl: prefix + "/add",
					// updateUrl: prefix + "/edit/{id}",
					// removeUrl: prefix + "/remove",
					// exportUrl: prefix + "/export",
					// statusUrl: prefix + "/updateStatus",
					addMaterialUrl: prefix + "/addMaterial/{ids}",
					id:"bootstrap-table2",
                    queryParams: queryParams,
					// sortName: "sendQuantity",
					sortOrder: "desc",
					showSearch: false,
					showRefresh: false,
					showToggle: false,
					showColumns: false,
					pagination: false,
					uniqueId: "materialId",
					modalName: "发货信息",
					clickEdit: true,
					columns: [{
						checkbox: true
					},
						{
						field: 'materialName',
						title: '物料名称'
						},
						{
							field: 'materialId',
							title: '物料ID'
						},

						{
							field: 'materialCode',
							title: '物料代码'
							// sortable: true
						},
						{
							field: 'nickName',
							title: '物料简称'
						},  {
							field: 'specifications',
							title: '规格型号'
						},
						{
							field: 'type',
							title: '类型',
							formatter: function(value, row, index) {

								return $.table.selectDictLabel(dataType, row.type);
							}
						},
						{
							field: 'unit',
							title: '计量单位',
							formatter: function(value, row, index) {

								return $.table.selectDictLabel(dataUnit, row.unit);
							}
						},
						{
							field: 'packageQuantity',
							title: '标包数量'
							// visible: false
						},
						{
							field: 'sendQuantity',
							title: '发货数量'
							// ,
							// formatter: function(value, row, index) {
							//     return $.common.isEmpty(value) ? 0 : value;;
							// }
						}],

					/**点击输入
					 * @param {点击列的 field 名称} field
					 * @param {点击列的 value 值} value
					 * @param {点击列的整行数据} row
					 * @param {td 元素} $element
					 */
					onClickCell: function(field, value, row, $element) {
						if(field == "sendQuantity"){
							$element.attr('contenteditable', true);
							$element.blur(function() {
								var index = $element.parent().data('index');
								var tdValue = $element.html();

								saveData(index, field, tdValue);
							})
						}
					}
				};
				$.table.init(options);
			}

			//保存输入
			function saveData(index, field, value) {
				alert("index="+index+"/"+value);
				$("#bootstrap-table2").bootstrapTable('updateCell', {
					index: index,       //行索引
					field: field,       //列名
					value: value        //cell值
				})
			}

			//确定保存修改
			function submitHandler() {
				if ($.validate.form()) {
				    var data = $('#form-send-add').serialize();
					var allTableData = $("#bootstrap-table2").bootstrapTable('getData');
					var listMap = [];
					$.each(allTableData, function (index, evevt) {
						var map = {};
						console.log("index=" + index)
						map["materialId"] = allTableData[index].materialId;
						var quantity = allTableData[index].sendQuantity;
						if(quantity == 0){
							$.modal.alertWarning("发货数量不能为0");
							throw Error;
						}else{
							map["sendQuantity"] = quantity;
						}
						listMap[index] = map;
					});
					console.log(listMap)

					$.operate.save(prefix + "/saveEdit",
						{
                            "sendId": $("#sendId").val(),
                            "exhibitionId": $("#exhibitionId").val(),
							"sendNumber": $("#sendNumber").val(),
							"logisticsName": $("#logisticsName").val(),
							"logisticsNumber": $("#logisticsNumber").val(),
							"receiveAddress": $("#receiveAddress").val(),
                            "deptId": $("#deptId").val(),
                            "receiveBy": $("#treeId").val(),
							"remark": $("#remark").val(),
							"listMap": listMap
						}
					);
				}
			}

			/*  选择收货人信息 */
		    function selectDeptTree() {
				var treeId = $("#treeId").val();
				var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
				var url = prefix + "/selectUserTree/";
			   var options = {
					title: '选择收货人信息',
					width: "380",
					url: url,
					callBack: doSubmit
				};
				$.modal.openOptions(options);
			}

			//Tree回显
			function doSubmit(index, layero){
				var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
				$("#treeId").val(body.find('#treeId').val());
				$("#receiveBy").val(body.find('#treeName').val());
				$("#deptId").val(body.find('#deptId').val());
				$("#deptName").val(body.find('#deptName').val());
				layer.close(index);
			}


			function deleteSelects() {
				var obj = $('#bootstrap-table1');
				var ids = $.map(obj.bootstrapTable('getSelections'), function (row) {
					return row.materialId
				});
				alert(ids)
				$('#bootstrap-table1').bootstrapTable('remove', {field: 'materialId', values: ids});
			}

            function queryParams(params) {
                // alert("fasdfasd");
                var search = $.table.queryParams(params);
                var id = $("#sendId").val();
                // alert(id)
                search.id =  id;
                return search;
            }
		</script>
</body>
</html>