<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('物料列表')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
	<body class="gray-bg">

		<div class="ui-layout-center">
			<div class="container-div">
				<div class="row">
					<div class="col-sm-12 search-collapse">
						<form id="material-form">
							<input type="hidden" id="materialId" name="materialId">
							<input type="hidden" id="parentId" name="parentId">
							<div class="select-list">
								<ul>
									<li>
										物料名称：<input type="text" name="materialName"/>
									</li>
									<li>
										物料代码：<input type="text" name="materialCode"/>
									</li>
									<li>
										<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
										<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>

					<div class="col-sm-12 select-table table-striped">
						<table id="bootstrap-table"></table>
					</div>
				</div>
			</div>
		</div>

		<th:block th:include="include :: footer" />
		<th:block th:include="include :: layout-latest-js" />
		<th:block th:include="include :: ztree-js" />
		<script th:inline="javascript">
		var prefix = ctx + "business/send";
		var dataType = [[${@dict.getType('busi_material_type')}]];
		var dataUnit = [[${@dict.getType('busi_material_unit')}]];

		$(function() {
			var panehHidden = false;
			if ($(this).width() < 769) {
				panehHidden = true;
			}
			$('body').layout({ initClosed: panehHidden, west__size: 185 });
			queryMaterialList();

		});


		function queryMaterialList() {
			var options = {
				url: prefix + "/selectSendMaterialDetail",
                queryParams: queryParams,
				// createUrl: prefix + "/add",
				// sortName: "createTime",
				// sortOrder: "desc",
				// modalName: "物料",
				// data: [[${sendMaterialDetail}]],//接收后端查询返回数据
				columns: [{
					checkbox: true
				},
					{
						field: 'materialId',
						title: '物料ID'
					},
					{
						field: 'materialName',
						title: '物料名称'
					},
					{
						field: 'materialCode',
						title: '物料代码'
					},
					{
						field: 'nickName',
						title: '物料简称'
					},  {
						field: 'specifications',
						title: '规格型号'
					},

					{
						field: 'type',
						title: '类型',
						formatter: function(value, row, index) {

							return $.table.selectDictLabel(dataType, row.type);
						}
					},{
						field: 'unit',
						title: '计量单位',
						formatter: function(value, row, index) {

							return $.table.selectDictLabel(dataUnit, row.unit);
						}
					},
					{
						field: 'packageQuantity',
						title: '标包数量'
						// visible: false
					},
					{
						field: 'createBy',
						title: '创建人'
					},
					{
						field: 'createTime',
						title: '创建时间'
						// sortable: true
					},
                    {
                        field: 'sendQuantity',
                        title: '发货数量'
                    }]
			};
			$.table.init(options);
		}

        function queryParams(params) {
            var search = $.table.queryParams(params);
            var id =  [[${id}]];
            search.id = id;
            return search;
        }


		</script>
	</body>

</html>