<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('收货列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: select2-css" />
</head>
<style>
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	color: #555;
	padding: 1px 7px;
}
</style>

<body class="gray-bg">
	<div class="ui-layout-center">
		<div class="main-content">
			<form id="form-receive-add" class="form-horizontal" th:object="${logisticsInfo}">
				<input id="deptId" name="deptId" type="hidden"/>
				<input id="treeId"   name="treeId"    type="hidden"/>
				<h4 class="form-header h4">收货单</h4>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-4 control-label is-required">物流信息：</label>
							<div class="col-sm-8">
								<select id="logistics" name="logistics" class="form-control " >
									<option value="">所有</option>
									<option th:each="item:${logisticsInfo}" th:value="${item.logisticsNumber}" th:text="${item.logisticsNumber}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-header h4">收货明细</h4>
				<div class="row">
					<div class="col-sm-12">

						<div class="col-sm-12 select-table table-striped">
							<table id="bootstrap-table1"></table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: select2-js" />
	<script th:src="@{/js/jquery.tmpl.js}"></script>
	<script th:inline="javascript">

        var prefix = ctx + "business/receive";
        var dataType = [[${@dict.getType('busi_material_type')}]];
        var dataUnit = [[${@dict.getType('busi_material_unit')}]];
        $(function() {

            $('#logistics').select2({
                placeholder: "---请选择物流信息---",
                allowClear: true
            });

            querysendList();

        });


        function querysendList() {
            var options = {
                // url: prefix +"/sendInfo",
                // prospectUrl: prefix + "/prospect/{id}",
                // createUrl: prefix + "/add",
                // updateUrl: prefix + "/edit/{id}",
                // removeUrl: prefix + "/remove",
                // exportUrl: prefix + "/export",
				// statusUrl: prefix + "/updateStatus",
                addMaterialUrl: prefix + "/addMaterial/{ids}",
				id:"bootstrap-table1",
                // sortName: "sendQuantity",
                sortOrder: "desc",
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                pagination: false,
                uniqueId: "materialId",
                modalName: "发货信息",
                clickEdit: true,
                columns: [
                    {
                        field: 'materialId',
                        title: '物料ID',
                        visible: false
                    },
                    {
                        field: 'materialName',
                        title: '物料名称'
                    },
                    {
                        field: 'materialCode',
                        title: '物料代码'
                    },
                    {
                        field: 'nickName',
                        title: '物料简称'
                    },  {
                        field: 'specifications',
                        title: '规格型号'
                    },

                    {
                        field: 'type',
                        title: '类型',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataType, row.type);
                        }
                    },{
                        field: 'unit',
                        title: '计量单位',
                        formatter: function(value, row, index) {

                            return $.table.selectDictLabel(dataUnit, row.unit);
                        }
                    },
                    {
                        field: 'packageQuantity',
                        title: '标包数量'
                        // visible: false
                    }
                  ]
            };
            $.table.init(options);
        }

        //确定保存
        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-send-add').serialize();
                var allTableData = $("#bootstrap-table1").bootstrapTable('getData');
                var listMap = [];
                $.each(allTableData, function (index, evevt) {
                    var map = {};
                    console.log("index=" + index)
                    map["materialId"] = allTableData[index].materialId;
                    var quantity = allTableData[index].sendQuantity;
                    if(quantity == 0){
                        $.modal.alertWarning("发货数量不能为0");
                        throw Error;
                    }else{
                        map["sendQuantity"] = quantity;
					}
                    listMap[index] = map;

                });
                console.log(listMap)

                $.operate.save(prefix + "/saveSend",
                    {
                        "deptId": $("#deptId").val(),
                        "exhibitionId": $("#exhibitionId").val(),
                        "sendNumber": $("#sendNumber").val(),
                        "logisticsName": $("#logisticsName").val(),
                        "logisticsNumber": $("#logisticsNumber").val(),
                        "receiveAddress": $("#receiveAddress").val(),
                        "remark": $("#remark").val(),
                        "receiveBy": $("#treeId").val(),
                        "listMap": listMap
                    }
                );
            }
        }
	</script>
</body>
</html>