<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('到货通知列表')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
	<body class="gray-bg">
		<div class="ui-layout-center">
			<div class="container-div">
				<div class="row">
					<div class="col-sm-12 search-collapse">
						<form id="send-form">
							<input type="hidden" id="sendId" name="sendId">
							<input type="hidden" id="parentId" name="parentId">
							<div class="select-list">
								<ul>
									<li>
										物流名称：<input type="text" name="logisticsName"/>
									</li>
									<li>
										物流单号：<input type="text" name="logisticsNumber"/>
									</li>
									<li>
										展会名称：<input type="text" name="busiExhibitions.exhibitionName"/>
									</li>
									<li>
										发货单号：<input type="text" name="sendNumber"/>
									</li>
									<li>
										收货单号：<input type="text" name="receiveNumber"/>
									</li>
									<li class="select-time">
										<label>发货时间： </label>
										<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startTime"/>
										<span>-</span>
										<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
									</li>

									<li>
										<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
										<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>
					<div class="col-sm-12 select-table table-striped">
						<table id="bootstrap-table"></table>
					</div>
				</div>
			</div>
		</div>

		<th:block th:include="include :: footer" />
		<th:block th:include="include :: layout-latest-js" />
		<script th:inline="javascript">
			var prefix = ctx + "business/notice";
            var dataType = [[${@dict.getType('busi_material_type')}]];
            var dataUnit = [[${@dict.getType('busi_material_unit')}]];

			$(function() {
				var panehHidden = false;
				if ($(this).width() < 769) {
					panehHidden = true;
				}
				$('body').layout({ initClosed: panehHidden, west__size: 185 });
				querysendList();
			});

			function querysendList() {
				var options = {
                    url: prefix + "/list",
                    selectSendMaterialDetailUrl:"send/selectSendMaterial/{id}",
                    uniqueId: "sendId",
					sortName: "sendTime",
					sortOrder: "desc",
					modalName: "到货通知信息",
                    showSearch: false,
                    showRefresh: false,
                    showToggle: false,
                    showColumns: false,
                    detailView: true,
                    onExpandRow : function(index, row, $detail) {
                        initChildTable(index, row, $detail);
                    },
					columns: [
                        {
                            field: 'logisticsName',
                            title: '物流名称'
                        },
                        {
                            field: 'logisticsNumber',
                            title: '物流单号'
                        },
                        {
                            field: 'status',
                            title: '状态'
                        },
                        {
                            field: 'busiExhibitions.exhibitionName',
                            title: '展会名称'
                        },
                        {
                            field: 'busiExhibitions.address',
                            title: '展会地址'
                        },
                        {
                            field: 'busiExhibitions.organizer',
                            title: '办展方'
                        },
                        {
                            field: 'sendId',
                            title: '发货ID',
                            visible: false
                        },
						{
							field: 'sendNumber',
							title: '发货单号'
						},
                        {
                            field: 'sendName',
                            title: '发货人'
                        },
                        {
                            field: 'sendTime',
                            title: '发货时间'
                        },
                        {
                            field: 'receiveNumber',
                            title: '收货单号'
                        },
						{
							field: 'createName',
							title: '收货人'
						},
                        {
                            field: 'createTime',
                            title: '收货时间'
                        }]
				};
				$.table.init(options);
			}
            initChildTable = function(index, row, $detail) {
                var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
                $(childTable).bootstrapTable({
                    url: prefix + "/selectSendMaterialDetail",
                    method: 'post',
                    sidePagination: "server",
                    // contentType: "application/json;charset=UTF-8",
                    contentType: "application/x-www-form-urlencoded",
                    queryParams : {sendId:row.sendId},
                    columns: [{
                        field: 'materialId',
                        title: '物料ID',
                        visible: false
                    },
                        {
                            field: 'materialName',
                            title: '物料名称'
                        },
                        {
                            field: 'materialCode',
                            title: '物料代码'
                        },
                        {
                            field: 'nickName',
                            title: '物料简称'
                        },  {
                            field: 'specifications',
                            title: '规格型号'
                        },

                        {
                            field: 'type',
                            title: '类型',
                            formatter: function(value, row, index) {

                                return $.table.selectDictLabel(dataType, row.type);
                            }
                        },{
                            field: 'unit',
                            title: '计量单位',
                            formatter: function(value, row, index) {

                                return $.table.selectDictLabel(dataUnit, row.unit);
                            }
                        },
                        {
                            field: 'packageQuantity',
                            title: '标包数量'
                            // visible: false
                        },
                        {
                            field: 'sendQuantity',
                            title: '发货数量'
                        }]
                });
            };

		</script>
	</body>
</html>